*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul,
li{
    list-style-type: none;
}

h1{
    color: white;
    font-weight: 500;
    font-size: 65px;
}

button{
    cursor: pointer;
}

.containerImg{
    background-color:#FF505B;
    background-image: url("/public/img/bg-pattern-intro-desktop.svg");
    background-position-y: 51%;
    background-position-x: 17%;
    background-size: 200%;
    border-radius: 0 0 0 80px;
}

.containerNav{
    font-weight: 700;
    color: hsl(0, 0%, 77%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
}

.containerNav img{
    float: left;
    margin-right: 20px;
}

.containerNav ul{
    display: flex;
}

.containerNav li{
    margin: 10px 40px;
}

.containerNav li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.btnSign{
    color: #FF525C;
    font-weight: 600;
    padding: 15px 40px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    margin: 0 40px;
}

.btnSign:hover,
.btnStart:hover{
    background-color: #FF7B86 ;
    color: white;
}

.containerHeader{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 80px 0px 120px 0;
}

.containerHeader h3{
    color: white;
    margin: 30px 0 40px 0;
}

.btnStart{
    color: #FF525C;
    font-weight: 600;
    padding: 15px 20px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    margin: 0 20px;
}

.btnLearn{
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 30px;
}

.btnLearn:hover{
    background-color: white;
    color: #FF6462;
}

/*************************************/
.backgroundImg{
    height: 950px;
    background-image: url("/public/img/illustration-editor-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: 135%;
    background-position-y: 50%;
}

.containerCont1{
    padding: 120px 0px;
    height: 1000px;
    width: 80%;
    margin: 0 auto;
}

.containerCont1 h2{
    color: hsl(208, 49%, 24%);
    font-size: 42px;
    text-align: center;
}

.containerCont1 div{
    width: 60%;
    margin-top: 100px;
    line-height: 26px;
}

.containerCont1 h3{
    color: hsl(208, 49%, 24%);
    font-size: 28px;
    margin: 0px 0 15px 0;
}

/***********************************/
.content2Img {
    height: 400px;
    position: relative;
    background-image: url("/public/img/bg-pattern-circles.svg"); 
    background-color: #3A3B59;
    background-repeat: no-repeat;
    background-position-x: -47%;
    background-position-y: 80%;
    border-radius: 0 80px 0 80px;
    background-size: 70%;
}

.smartphone{
    position: absolute;
    top: -20%;
    left: 7%;
}

.contentSez2{
    width: 40%;
    padding: 100px 25px;
    margin: 0 50%;
}

.contentSez2 h2{
    color: white;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
}

.contentSez2 span{
    color: white;
   line-height: 28px;
}

/*****************************************/
.containerImg3{
    height: 1000px;
    background-image: url("/public/img/illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: -60%;
    background-position-y: 50%;
    background-size: 60%;
}

.contentSez3{
    width: 40%;
    padding: 200px 25px;
    margin: 0 50%;
}

.contentSez3 div{
    margin: 80px 0;
}

.contentSez3 h3{
    color: #3A3B59;
    font-size: 28px;
    margin: 0px 0 30px 0;
}

.contentSez3 span{
    line-height: 28px;
}

/*************************/
.footer{
    background-color: #24242C;
    border-radius: 0 150px 0 0;
    padding: 40px;
}

.footerGrid{
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footerGrid h4{
    color: white;
    margin-bottom: 60px;
}

.ulFlex li{
    margin: 20px 0;
}

.ulFlex li a:hover{
    text-decoration: underline;
}

.footerGrid img{
    max-width: 40%;
}