*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

h1{
    color: white;
    font-weight: 500;
    font-size: 65px;
}

.containerImg{
    background-color:#FF505B;
    background-image: url("/public/img/bg-pattern-intro-desktop.svg");
    background-position-y: 51%;
    background-position-x: 17%;
    background-size: 200%;
    border-radius: 0 0 0 80px;
}

.containerNav{
    font-weight: 700;
    color: hsl(0, 0%, 77%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 93%;
    margin: 0 auto;
}

.containerNav img{
    float: left;
    margin-right: 20px;
}

.containerNav ul{
    display: flex;
}

.containerNav li{
    margin: 10px 40px;
}

.btnSign{
    color: #FF525C;
    font-weight: 600;
    padding: 15px 40px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    margin: 0 40px;
}

.containerHeader{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 80px 0px 120px 0;
}

.containerHeader h3{
    color: white;
    margin: 30px 0 40px 0;
}

.btnStart{
    color: #FF525C;
    font-weight: 600;
    padding: 15px 20px;
    background-color: white;
    border: 0;
    border-radius: 30px;
    margin: 0 20px;
}

.btnLearn{
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 30px;
}